<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">BookWorm.com will<i>CHANGE THE WAY OF READING </i>It is an initiative  to help the upcoming Readers with this website. Bookworm focuses on providing the most efficient way to buy or purchase Ebook, Audio-book, Video-books.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories Available</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/category/c-language/">Fiction</a></li>
          <li><a href="http://scanfcode.com/category/front-end-development/">Non Fiction</a></li>
          <li><a href="http://scanfcode.com/category/back-end-development/">SciFi</a></li>
          <li><a href="http://scanfcode.com/category/java-programming-language/">Romance</a></li>
          <li><a href="http://scanfcode.com/category/android/">Adventure</a></li>
          
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">About Us</a></li>
          <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
          <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
          <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
         
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by 
     <a href="#">SM VITA 9 Feb-2019</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>

