<!-- <div class="container" ALIGN="CENTER">
  <b ><font color="WHITE" align="center" size="15">BOOKWORLD.COM</font></b>
  <div class="row">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="./assets/Image/BeMyPerfectEnding.jpg" alt="Book1" style="width:50ch" height="60ch">
        <div class="carousel-caption">
          <h3>Book</h3>
          <p>Book-1</p>
        </div>
      </div>
      <div class="item">
        <img src="./assets/Image/ShivajiTheGreatMaratha.jpeg" alt="Book2" style="width:50ch" height="60ch">
        <div class="carousel-caption">
          <h3>Book</h3>
          <p>Book-2</p>
        </div>
      </div>
      <div class="item">
          <img src="./assets/Image/The Martian.jpg" alt="Book2" style="width:50ch" height="0ch">
          <div class="carousel-caption">
            <h3>Book</h3>
            <p>Book-2</p>
          </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</div>

<br>
<br>
<br>
<div class="row text-center">
    <div *ngFor = " let p of ProductBookListArray" class="col-sm-4">
      <div class="thumbnail">
        <img src={{p.Prod_img}} alt="Paris" width="100" height="100">
        <p><strong>{{p.Prod_title}}</strong></p>
        <p><strong>{{p.Prod_release_date}}</strong></p>
        <p><strong>{{p.Prod_title}}</strong></p>
        <p><strong>{{p.Prod_release_date}}</strong></p>
        <button type="button" class="btn btn-primary">Buy Book</button>
      </div>
    </div> -->

    <!-- <div class="container">
    <h2>Book Example</h2>
 {{ProductBookListArray | json}}
  <div class="row">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <div class="carousel-caption">
          <h3>Book</h3>
          <p>Book-1</p>
        </div>
      </div>
      <div class="item">
        <img src="./assets/Image/Bookworm_2.jpg" alt="Chicago">
        <div class="carousel-caption">
          <h3>Book</h3>
          <p>Book-2</p>
        </div>
      </div>   
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</div> -->
<!--{{ProductBookListArray | json}}-->
<!-- <div class="container">
  <div class="row">
      <div *ngFor = " let p of ProductBookListArray" class="col-md-4" style="margin-bottom:30px;">
          <img src={{p.Prod_img}} img width="131" height="199" style="width:50%" class="box">
          <p class="text-center"><b>{{p.Prod_title}}</b></p>
        </div>
  </div>
</div> -->





<div class="container" ALIGN="CENTER">
  <div class="row">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" >
      <div class="item active">
        <img src="./assets/Image/b3.jpg" alt="Book1" style="width:100%;">
        <div class="carousel-caption">
          <h3><i>
              This beautiful book quote was beautifully visualized by Risa Rodil. 
              You can get the artwork from Redbubble, on a variety of products. 
              Besides a number of posters, you can have iPad and iPhone cases, mugs, wall clocks, and even 
              a duvet cover! And, yes, apparel is here, too
            </i> </h3>
        </div>
      </div>
      <div class="item">
        <img src="./assets/Image/b1.jpg" alt="Book2" style="width:100%;">
        <div class="carousel-caption">
          <h2><i>Whenever you read a good book, somewhere in the world a door opens to allow in more light.</i></h2>
        </div>
      </div>

      <div class="item">
          <img src="./assets/Image/b2.jpeg" alt="Book2" style="width:100%;">
          <div class="carousel-caption">
            <h2><i>Whenever you read a good book, somewhere in the world a door opens to allow in more light.</i></h2>
          </div>
        </div>

        <div class="item">
            <img src="./assets/Image/c5.jpg" alt="Book2" style="width:100%;">
            <div class="carousel-caption">
              <h2><i>Whenever you read a good book, somewhere in the world a door opens to allow in more light.</i></h2>
            </div>
          </div>

          <div class="item">
              <img src="./assets/Image/c6.png" alt="Book2" style="width:100%;">
              <div class="carousel-caption">
                <h2><i>Whenever you read a good book, somewhere in the world a door opens to allow in more light.</i></h2>
              </div>
            </div>
            <div class="item">
                <img src="./assets/Image/c8.png" alt="Book2" style="width:100%;">
                <div class="carousel-caption">
                  <h2><i>Whenever you read a good book, somewhere in the world a door opens to allow in more light.</i></h2>
                </div>
              </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</div>
    <div class="wrapper" >
      <div class="tile job-bucket" *ngFor = " let p of ProductBookListArray">
        <div class="front">
          <div class="thumbnail">
              <img src={{p.Prod_img}} alt="Paris" >
              <p><strong>{{p.Prod_title}}</strong></p>
          </div>
        </div>
        <div class="back"><br><br><br>
            <!-- <button type="button"  class="btn btn-primary btn-lg" >Buy</button> &nbsp;
            <button type="button"  class="btn btn-primary btn-lg">Rent</button> -->      
            <!-- <a routerLink="/login"></a>
               -->
              <button (click)="PassDetailsModal(p.Prod_title)"  class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ProductDescModal" > Buy Book</button> 
        </div>
      </div>
    </div>
    <div class="fullscreen-bg">
      <video loop muted autoplay poster="../assets/Image/white.jpg" class="fullscreen-bg__video">
          <source src="./assets/Video/sea.mp4" type="video/mp4">    
      </video>
    </div>

    <!-- <div class="modal fade" id="ProductDescModal" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Product Description</h4>
          </div>
          <div class="modal-body" >
          
            
<label> TITLE : </label> <br>
<label> AUTHOR : </label><br>
<label> PRIZE : </label><br>
<label> DESCRIPTION : </label><br>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
     -->