<!-- <div style="border: 3px solid">
    <br>
    <button (click) = senddata() > <b>CLICK HERE TO PURCHASE YOUR SELECTED ITEM </b> </button>
    <br>
    </div>
    <br>
    <br>
    <br>
    <div>
        <button (click) = goToShelf()><b>MYSHELF</b></button>
    </div>

    <br><br><br>
    <div>
            <button (click) = logout()><b>LOGOUT</b></button>
    </div> -->


    <div class="container">

        <div class="row">

<br>
            <div class="md-5">

                    <div class="panel panel-info">
                            <div class="panel-heading">Purchase Page</div>
                            <div class="panel-body">

                                    <button type="button" (click) = senddata() class="btn btn-success">CLICK HERE TO PURCHASE YOUR SELECTED ITEM </button>
                                    <br>
                                    <br>
                                    
                                    <button type="button" (click) = goToShelf() class="btn btn-success">MYSHELF</button>
                                    <br>
                                    <br>

                                    <button type="button" (click) = logout() class="btn btn-success">LOGOUT</button>



                            </div>
                          </div>

            </div>

            <div class="md-5">    
                </div>

                <div class="md-2">
                    </div>

        </div>

        </div>


