<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="BookwormConnectionString" connectionString="Data Source=(localdb)\Projects;Initial Catalog=BookwormDB_Test;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="serviceBehaviour" name="BookwormWcfService.Service1">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          contract="BookwormWcfService.IService1" />
      </service>
      <service name="BookwormWcfService.Model.ProductBeneficiary">
        <endpoint address="" behaviorConfiguration="BookwormWcfService.Model.ProductBeneficiaryAspNetAjaxBehavior"
          binding="webHttpBinding" contract="BookwormWcfService.Model.ProductBeneficiary" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
        <behavior name="BookwormWcfService.Model.ProductBeneficiaryAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <protocolMapping>
      <add binding="webHttpBinding" scheme="http" />
    </protocolMapping>
   
    
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
